.section {
  position: relative;

  width: 100vw;
  left: 50%;
  margin-left: -50vw;

  background: url("/images/bg-with-brush.svg") center/ contain;
  padding: 120px 0;
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 68px; 
  align-items: start;
}

.title {
  grid-column: 1 / span 3;
  grid-row: 1;

  margin: 0;
  font-size: 80px;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: var(--neutral-0);
}


.text {
  grid-column: 2 / span 3;
  grid-row: 2;
  align-self: start;

  margin: 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.6;
  color: var(--neutral-0);
}

.imageBlock {
  grid-column: 5 / span 2;
  grid-row: 1 / span 4;

  display: flex;
  flex-direction: column;
  gap: 84px;
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}

.imageMedia {
  object-fit: cover;
}


.quote {
  position: relative;
  margin: 0;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: var(--neutral-800);
  font-family: var(--font-playfair);
}


.quoteDecorLeft {
  position: absolute;
  left: -95px;
  top: 35px;
  width: 90px;
  height: 90px;
  background: url("/images/quote-left.svg") center/contain no-repeat;
  pointer-events: none;
}


.quoteDecorRight {
  position: absolute;
  right: -32px;
  bottom: 52px;
  width: 90px;
  height: 90px;
  background: url("/images/quote-right.svg") center/contain no-repeat;
  pointer-events: none;
}


.linkWrapper {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: end;
  margin-top: 32px;
}