.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 30px 70px;
  font-size: 16px;
  font-weight: 500;


  text-decoration: none;
  color: var(--neutral-900);

  background: url("/images/button-border.svg") no-repeat center;
  background-size: 100% 100%;
  border: none;

  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background: url("/images/button-border-pink.svg") no-repeat center;
  background-size: 100% 100%;
  padding: 30px 70px;
}

.button:active {
  transform: translateY(0);
  opacity: 0.8;
}
