.bottom {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.line {
  width: 1320px;
  height: 16px;
  background: url("/images/line.svg") no-repeat center/contain;
  transform: rotate(-0.3deg);
  display: block;

}
.brand {
  grid-column: 1 / span 3;
}
.info {
  grid-column: 4 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.link {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 145%;
  color: var(--neutral-900);
  text-decoration: none;
  transition: color 0.2s ease;
  position: relative;
  padding-right: 8px;
}
.year {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 145%;
  color: var(--neutral-900);
}
.icon {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
}

.link:hover {
  color: var(--accent-pink-100);
}